<%- include('./partials/header'); -%>

<h1>compose.</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label >title </label>
        <input name="posttitle" class="form-control" >
      </div>
      <div class="form-group">
        <label >post</label>
        <textarea  name="titlepost" class="form-control" id="" cols="30" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">submit</button></form>
  </form>
    

<%- include('./partials/footer'); -%>